body {
    height: 1500px;
    color: #777777;
    font-family: 'Roboto', sans-serif;
    background-image: url("./assets/images/funky-lines.png");
}
.list-group-item {
    float: left;
}
.container1 {
    border-radius: 12px;
    margin: auto;
    padding: 20px;
    width: 700px;
}
.container {
    border-radius: 12px;
    margin: auto;
}
i {
    padding: 5px;
    color: #72A0C1;
}
.headshot {
    padding: 5px;
    display: block;
    max-width: 100%;
    height: auto;
}
h5 {
    color: #72A0C1;
}
span {
    color: #72A0C1;
    
}
a {
    color: #72A0C1;
}
.card {
    border-radius: 12px;
    padding: 5px;
    text-align: -webkit-center;
}
#cardborder {
    padding: 20px;
}
#thumbnail {
    height: 200px;
    width: 200px;
    border: 2px black solid;
    align-self: center;
}
h3 {
    color: #72A0C1;
}
li {
    color: #777777;
}