p {
    color: #777777;
}
.content {
  color: #72A0C1;
  font-size: 1.25em;
  background-color: white;
  border: 1px solid black;
}
a {
  text-decoration: none;
  text-decoration-line: none;
}
.name {
  color: white;
  background-color: #72A0C1;
  
}
nav {
  font-size: larger;
}
header {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}
.header-container {
  background-color: lightgray;
}
.nav-row {
  background-color: lightgray;
}
#contentHeader {
  border-bottom: 2px solid #777777;
}